@font-face {
    font-family: "DynaPuff-Bold"; /* Имя шрифта */
    src: url(../fonts/DynaPuff-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 600;
   }

   @font-face {
    font-family: "DynaPuff-Medium"; /* Имя шрифта */
    src: url(../fonts/DynaPuff-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
   }

    @font-face {
        font-family: "Montserrat-Italic"; /* Имя шрифта */
        src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
        font-weight: 300;
    }

    @font-face {
        font-family: "Roboto-Regular"; /* Имя шрифта */
        src: url(../fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
        font-weight: 500;
    }
    
   @font-face {
    font-family: "Roboto-Bold"; /* Имя шрифта */
    src: url(../fonts/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 600;
   }

   @font-face {
    font-family: "Roboto-Italic"; /* Имя шрифта */
    src: url(../fonts/Roboto-Italic.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
}

main {
    padding: 10px; 30px; 0px; 30px;
}

h2 {
    font-family: "Roboto-Italic";
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.text {
    font-family: "DynaPuff-Bold";
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-align: justify;
    
}

h3 {
    font-family: "Roboto-Bold";
    margin-bottom: 5px;
    font-size: 2rem;
    text-align: center;

}

.text1 {
    font-family: "DynaPuff-Medium";
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
    text-align: left;
}

h4 {
    font-family: "Montserrat-Italic";
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-align: center;
}

.text2 {
    font-family:"Roboto-Regular";
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align:center;
}

